#Title{ /* id [#] */
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(243, 90, 90);

}

body{
    background-color: rgb(248, 211, 211);
}

.Character{ /* class [.] */
    width: 200px;
    margin: 10px;
    border-radius: 10px;

}

.Main{
    border: 4px solid rgb(204, 120, 120);
    background-color: rgb(201, 160, 160);
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Supporting{
    border: 4px solid rgb(204, 197, 255);
    background-color: rgb(162, 168, 183);
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Thorfinn{
    color: rgb(176, 58, 58);
}
#Askeladd{
    color: rgb(154, 58, 23);
}
#Leif-Ericson{
    color: rgb(84, 50, 169);
}
#Ylva{
    color: rgb(76, 67, 127);
}