p {
    background-color: rgb(213, 100, 100);
}
a {
    background-color: rgb(100, 213, 100);
}
div {
    background-color: rgb(100, 100, 213);
}
span {
    background-color: rgb(213, 213, 100);
}
footer {
    background-color: rgb(150, 100, 213);
}
ol {
    background-color: rgb(100, 213, 213);
}
img {
    background-color: rgb(213, 150, 100);
}