header{
    background-color: #1d1c2aea;
    border-radius: 10px;
    height: 60px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
#led{
    margin-left: 3px;
}


#vbg{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Prevents users from clicking the video */
  z-index: -1; /* Places the video behind your content */
}
#abg{
  position: fixed;
  width: 10%;
  height: 25%;
  min-width: 100px;
  top: 86%;
  left: 94.4%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

@media (min-aspect-ratio: 16/9) {
  #vbg { height: 56.25vw; } /* Maintains aspect ratio for wide screens */
}
@media (max-aspect-ratio: 16/9) {
  #vbg { width: 177.78vh; } /* Maintains aspect ratio for tall screens */
}


.trailer{
   margin-top: 20px;
   /* border: #1d1c2a53 solid 10px; */
   border-top:#1d1c2a00 solid 10px;
   border-bottom: #1d1c2a00 solid 10px;
   border-radius: 10px;
   background-color: #1d1c2a79;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-right: 400px;
   width: fit-content;

}
.trailer iframe{
    width: 45%;
    height: auto;
    min-width: 150px;
    border-radius: 10px;
    margin: 10px;
    aspect-ratio: 16 / 9;
}

.favorite-ost{
    margin-top: 20px;
    /* border: #1d1c2a53 solid 10px; */
    border-top:#1d1c2a00 solid 10px;
    border-bottom: #1d1c2a00 solid 10px;
    border-radius: 10px;
    background-color: #1d1c2a79;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 200px;
    width: fit-content;
    
}

.favorite-ost iframe{
    width: 45%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    opacity: 0.5;
    min-width: 150px;
    aspect-ratio: 16 / 9;
}

.favorite-ost .vertical-label {
    display: block;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    background-color: aqua;
    /* top: 50%; */
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    /* margin-right: 100px; */
    letter-spacing: 3px;
}